body{
    background-color: #222222;
}

div{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background: rgb(167, 27, 27);
    width: 100px;
    height: 180px;
}
